.categories {
  /* background-color: rgb(246, 246, 246); */
}
.bottom {
}
.slider1 {
  height: 10px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 10px;
}
.left {
  max-width: 25%;
  min-height:98vh;
  padding-left: 1rem;
  top: 10vh; 
  position: sticky;
  /* bottom: 0; 
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 200px;
he
  flex: 1; */
  overflow-y: auto;
  min-width: 25%;
  max-height: 98vh;
  padding-bottom: 2rem;
  margin-top: -2rem;
  padding-top: 2rem;
  background-color: #F1F5F9;
}

.bottom{
  align-items: baseline;
  display: flex;
  padding-top: 11vh;
  min-height: 120vh;

}
.right{
 
display: flex;
flex-direction: column;

}
.left2 {
  display: none;
}
.filter-title {
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
}
.category-name {
  padding: 6px 9px;
  margin-right:6px;
  margin-bottom: 6px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

}
.clear_btn{

}
.filter-button{

display: none;
}
.clear_btn:hover{
box-shadow: none;
}

.category-name:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow:none;



}
.search_btn{
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
width: 90%;
padding:9px;
text-align: left;

}
.category-name:active {
  box-shadow:none;
}

.category-title {
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
}
.mobile_btn {
  display: none;
}

.search-sort {
  /* flex */
}
.slider {
  display: none;
}

@media screen and (max-device-width: 640px) {
  .left {
    min-width: 100% !important;
    z-index: 999;
min-height: 100% !important;
position: fixed !important;
top: 12vh !important;
left: -100%;
transition: left 0.5s ease-in-out;


}
 
  .left.active {
    left: 0;
    transition: left 0.5s ease-in-out; 
  }
  .mobile_btn {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* position: sticky;
    top: 10vh;

    top: 10vh;
    z-index: 999; */
  }
  .bottom{
    
  }
  .mobile_btn:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all 0.2s ease-in-out;
  }
  .category-title {
  }
  .search-sort {
    border: none !important;
  }
  .all_product_section{
    background-color: #F8FAFC !important;
  }
  .filter-button{
    display: flex !important;
  }
  
}
