@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {

  
 



   overflow-x: hidden;
}
.popover{
   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;


}
::-webkit-scrollbar {
   display: none;
 }
.card_hover{
   padding-top: .5rem;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

.card_title {
   position: relative;
   color: #000;


}
.card_hover:hover::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(241, 245, 249, 0.7), rgba(255, 255, 255, 0));
   background-size: 200%;
   background-repeat: no-repeat;
 
   pointer-events: none;
   animation: shine 3s infinite;
 }
 @keyframes shine {
   from {
     background-position-x: 200%;
   }
   to {
     background-position-x: -200%;
   }
 }



.product_one{
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}
.product_one:hover{
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;   
   
   transition: all 0.2s ease-in-out;

}


.single_img{
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
   transition: all 0.2s ease-in-out;



}
.single_img:hover{
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   transition: all 0.2s ease-in-out;



}
.nav_bar{
   display:flex;
   width: 100%;
   z-index: 1000;
   height:10vh;
   position: fixed;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  
 }
 
 .navbar_wrap{
   display:flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;
 }

 .show_more li:nth-child(n+6) {
   display: none;
 }
 
 .show_show li:nth-child(n+6) {
   display: none;
 }
 
 
 
 .swiper {
   width: 100%;
   height: auto;
   margin:10px;
   
 }
 .mySwiper .swiper-slide {

   opacity: 0.4;
 }
 
 .mySwiper .swiper-slide-thumb-active {
   opacity: 1;
 }
 .mySwiper2{
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;



}
 .swiper_slide{
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 }
 
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
 
   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .swiper-slide img {
  
 }


 

@media screen and (max-device-width: 640px) {
.product{
 width: auto;
display: flex;
flex-direction: column;
align-items: center;
}
.single_slider{
   min-width: 95% !important;
}

.cart_checkout{
   display:flex;
   flex-direction: column !important;
}

.popover{
   min-width: 85% !important;
}

.q_d{
   display:flex;
   flex-direction: row !important;
}
.product_one{
   min-width: 310px !important;
}

}